.subtitle {
  font-size: 1.2rem;
  font-family: "avenir-next-reg", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  margin: 0 0 30px;
}

@media screen and (min-width: 780px) {
  .subtitle {
    font-size: 1.4rem;
  }
}
