.progress {
  border: 2px solid green;
  overflow: hidden;
  height: 15px;
  position: relative;
}

.bar {
  background: red;
  bottom: 0;
  color: transparent;
  font: 0/0 a;
  left: 0;
  position: absolute;
  right: 0;
  text-shadow: none;
  top: 0;
  transform: translateX(-100%);
  width: 100%;
}
