.article {
  align-items: center;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075);
  background: #fafafa;
  border: 1px solid #dcdcdc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
}

.indent {
  border-bottom: 1px solid #dcdcdc;
  padding: 40px;
}

.error {
  color: #ff3333;
  display: flex;
  flex-direction: column;
  height: 62px;
  justify-content: center;
  margin: 0;
  position: absolute;
  top: 0;
}

.dataContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header1 header2"
    "amount2 amount1";
  grid-gap: 10px;
  margin: 30px 0;
  opacity: 0;
  position: relative;
  text-align: left;
  transform: translateY(5px);
  transition: opacity 0.3s ease-out, transform 0.3s ease-in-out;
  transition-delay: 0.8s;
}

.dataContentShow {
  opacity: 1;
  transform: translateY(0);
}

.loadedData {
  position: relative;
}

.dataHeader {
  margin: 0;
  font-size: 1.05rem;
  font-weight: normal;
  transition: transform 0.2s ease-out;
}

.dataAmount {
  font-size: 1.75rem;
  margin: 0;
}

.dataHeader:nth-of-type(1) {
  grid-area: header1;
}

.dataHeader:nth-of-type(2) {
  grid-area: header2;
}

.dataAmount:nth-of-type(1) {
  grid-area: amount1;
}

.dataAmount:nth-of-type(1) {
  grid-area: amount2;
}

.formDonate {
  position: relative;
}

.formDonate legend {
  font-weight: bold;
  margin: 0 0 10px;
}

.formDonateRow {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  position: relative;
}

.formDonateRow::before {
  align-items: center;
  content: "£";
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 15%;
}

.formDonateRow input {
  border: 1px solid #b0b0b0;
  font-size: 1.5rem;
  padding: 10px 10px 10px 40px;
  width: 100%;
}

.formDonateRow button {
  background: #334c89;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  padding: 0 15px;
}

.formDonateRow button:hover {
  background: #203567;
}

.cta {
  color: #282828;
  display: block;
  padding: 20px 40px;
  text-align: left;
  text-decoration: underline;
  width: 100%;
}
