.article {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  min-height: 100%;
  padding: 56px 20px;
  text-align: center;
  width: 100%;
}

.dataContent {
  position: relative;
}

.cta {
  text-decoration: underline;
}
