.article {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  min-height: 100%;
  padding: 56px 20px;
  text-align: center;
  width: 100%;
}

.article h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: calc(16px + 3vmin);
}

.article h1 span {
  color: #673ab8;
}

.article p {
  font-size: calc(16px + 0.1vmin);
}

.article small {
  color: #444;
  display: block;
  font-size: 12px;
}

.article small span,
.article sup {
  color: #673ab8;
}
